---
Checks: >-
  -*,
  bugprone-exception-escape,
  bugprone-use-after-move,
  concurrency-mt-unsafe,
  modernize-use-override,
  performance-move-const-arg
HeaderFilterRegex: '^(.*[/\\])?mcqnet/.*'
SystemHeaders: false
FormatStyle: none
CheckOptions:
  - key: modernize-use-override.OverrideSpelling
    value: override
  - key: modernize-use-override.FinalSpelling
    value: final
